name: Deploy to Render

on:
  push:
    branches:
      - main

jobs:
  trigger-render-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Trigger Render Deploy
        env:
          RENDER_API_KEY: ${{ secrets.RENDER_API_KEY }}
        run: |
          curl -X POST \
            -H "Accept: application/json" \
            -H "Authorization: Bearer $RENDER_API_KEY" \
            https://api.render.com/deploy/srv-$RENDER_DEPLOY_HOOK
